h1{
	text-align: center;
}


body {
	margin: 0;
	font: #FFFFFF;
	padding: 0;
	height: 100%;
	background-color: #66FFFF;
}

table {
	border: none;
}

#resultTable {display: none;}

table thead th {
	background-color: #4297BB;
	text-align: center;
}

table tbody td {
	background-color: #EFEFEF;
	color: #000000;
	text-align: center;
}

th, td, tr {
	padding: 8px;
	color: white;
}
